@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #7c3AED;
    --off-white: #f3f4f6;
    --dark-gray: #6B7280;
    --background-color: #F4976C;
    --background-color2: #FBE8A6;
    --background-color3: #F9B56C;
    --background-color4: #FFE042;
    --background-color5: #E71989;
    --color3: #303C6C;
    --color4: #B4DFE5;
    --color5: #D2FDFF;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0px;

}

hr {
    margin: 2rem 0rem;
}

/* container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    border-bottom-left-radius: 1rem;
}

/* 
.container-fluid{

} */

/* links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.primary-link {
    background-color: var(--background-color3);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--white);
    border-radius: 0.5rem;
    background-color: var(--background-color3);
    border: 1px solid var(--background-color3);
}

/* list */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem, 0.5rem;
}

/* navigation */
.navigation {
    background-color: var(--background-color3);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;

}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}

.heading-inverted {
    color: var(--background-color3);
}

/* section */
.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--background-color2);
    border-bottom-left-radius: 2rem;
    /* border-radius: 2rem; */
margin-left: 10em;
margin-right: 10em;
}

/* footer */
.footer-header {
    font-weight: bold;
    font-size: large;
}

.footer {
    background-color: var(--background-color3);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}